<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 contact-info">
        <h5>Contact Us</h5>
        <p>Email: </p>
        <p>Phone: +123 456 7890</p>
      </div>
      <div class="col-md-4 social-media">
        <h5>Follow Us</h5>
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 copyright">
        <p>&copy; 2024 Your Company. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
